body{
    width: 100%;
}
.bg{
    margin: 0%;
    padding: 0%;
    height: auto; width: 100%;
    background-image: linear-gradient(rgb(57, 57, 179), rgb(97, 192, 223));
}
.numbers{
    display: flex;
    flex-direction: row;
}